<div   [ngClass]="{'spinner': headlinesService.loader}">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="container" [ngClass]="{'dark-mode': headlinesService.darkMode}">

  <div class="news-container">
    <div class="news-card" *ngFor="let article of pagedHeadlines" (click)="gotoPage(article.url)">
      <div class="news-image">
        <img [src]="article.image" alt="Article Image" />
      </div>
      <div class="news-content">
        <h3 class="news-title">{{ article.title }}</h3>
        <p class="news-description">{{ article.description }}</p>
        <a class="read-more-link" style="cursor:pointer" [href]="article.url" target="_blank">Read More</a>
      </div>
    </div>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPageIndex - 1"
                    (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>
