<div  [ngClass]="{'dark-mode': service.darkMode}">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

      <a class="navbar-item">

        <img src="assets/Images/Heading.PNG" width="180" height="50">
      </a>

      <a (click)="toggleNavbar()" role="button"  #navBurger class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu"  #navMenu>
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/']" routerLinkActive="">
          Home
        </a>
        <a class="navbar-item" [routerLink]="[ '/', 'politics' ]" >
          Politics
        </a>
        <a class="navbar-item" [routerLink]="[ '/', 'sports' ]">
          Cryptocurrency
        </a>
        <a class="navbar-item" [routerLink]="[ '/', 'business' ]">
          Business
        </a>
        <a class="navbar-item" [routerLink]="[ '/', 'world' ]">
          World
        </a>
      </div>
      <div class="navbar-end">
        <mat-slide-toggle class="navbar-item" (change)="enableDarkMode()">Dark Mode</mat-slide-toggle>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>
</div>

