<div class="container" [ngClass]="{'dark-mode': darkMode}">
  <header>
    <h1 class="page-heading">NewsHub: Your Gateway to Timely and Reliable News</h1>
    <div class="dark-mode-toggle">
      <mat-slide-toggle (change)="enableDarkMode()">Dark Mode</mat-slide-toggle>
    </div>
  </header>

  <div class="news-container">
    <div class="news-card" *ngFor="let article of pagedHeadlines">
      <div class="news-image">
        <img [src]="article.image" alt="Article Image" />
      </div>
      <div class="news-content">
        <h3 class="news-title">{{ article.title }}</h3>
        <p class="news-description">{{ article.description }}</p>
        <a class="read-more-link" [href]="article.url" target="_blank">Read More</a>
      </div>
    </div>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPageIndex - 1"
                    (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>
